certifi==2017.7.27.1
click==6.7
Flask==1.0.2
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
Werkzeug==0.14.1
Pillow==5.1.0
numpy==1.14.3
numpydoc==0.8.0
h5py==2.7.1
tensorflow==1.10.0
Keras==2.2.2
Keras-Preprocessing==1.0.2
vaderSentiment==3.2.1
stanfordcorenlp==3.9.1.1
eventlet==0.24.1
