<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Deep Learning and Sentiment Analysis</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link href="../static/css/style.min.css" rel="stylesheet" type="text/css">
</head>

<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Deep Learning and Sentiment Analysis</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#RNNs">RNNs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#LSTMs">LSTMs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" data-toggle="modal" data-target="#ModelModal">Pretrained
                            Models</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#modelExploration">Model Exploration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#data">Data Exploration</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navigation -->

    <!-- Header -->
    <header class="masthead" id="RNNs">
        <div class="container h-100">
            <div class="row h-100">
                <div class="row">


                    <div class="col-lg-12 my-auto">
                        <h1 class="text-center">Recurrent Neural Networks (RNNs)</h1>
                        <div class="row">

                            <div class="col-md-12">

                                <ul>
                                    <li>Useful with sequential data because each neuron uses its internal memory to
                                        maintain information about the
                                        previous input.</li>
                                    <li>Can be thought of as multiple copies of the same network each passing a message
                                        to its successor.</li>
                                    <li>Common applications include speech recognition, language modeling, translation
                                        and image captioning.</li>
                                    <li>RNNs are limited in how they handle long-term dependencies</li>
                                    <ul>
                                        <li>Learn using past information if the gap between the relevant information
                                            and the place it is needed is small.</li>
                                        <li>If this gap is large, RNNs become unable to learn how to connect the
                                            information</li>

                                    </ul>
                                </ul>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <img src="../static/img/RNNs and LSTM/2 - RNN-unrolled.png" alt="RNN Unrolled" width="1000px">
                            </div>
                            <div class="col-md-12">
                                <figcaption class="figure-caption text-white text-right">RNN and Unrolled RNN</figcaption>
                 
                            </div>


                        </div>
                    </div>



                </div>

            </div>
        </div>
        </div>
    </header>
    <!-- End Header -->

    <!-- Color Blocked Sections -->
    <section class="download bg-primary" id="LSTMs">
        <div class="container">
            <div class="section-heading text-center">
                <h1>Long Short-Term Memory Networks (LSTMs)</h1>
            </div>
            <div class="row">

                <div class="col-lg-12 my-auto">
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li>LSTMs are RNNs that are capable of learning long-term dependencies.</li>
                                <li> All RNNs have a chain like structure. LSTMs do as well but
                                    the repeating module has a different structure. Instead of having a single neural
                                    network layer, there are four</li>
                            </ul>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <img src="../static/img/RNNs and LSTM/5 - LSTM3-SimpleRNN.png" alt="Simple LSTM RNN" width="1000px">
                            <figcaption class="figure-caption text-white text-right">Simple LSTM RNN</figcaption>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <img src="../static/img/RNNs and LSTM/6 - LSTM3-chain.png" alt="LSTM Chain" width="1000px">
                            <figcaption class="figure-caption text-white text-right">LSTM Chain</figcaption>

                        </div>


                          </div>
                          <br>

                          <div class="card text-dark bg-light" style="max-width: 100pc;">
                            <div class="card-header">DEFINE LSTM NETWORK</div>
                            <div class="card-body">
                              <code>   model = Sequential()<br>
                                model.add(LSTM(256, input_shape=(X.shape[1], X.shape[2]), return_sequences=True))<br>
                                model.add(Dropout(0.2))<br>
                                model.add(LSTM(256))<br>
                                model.add(Dropout(0.2))<br>
                                model.add(Dense(y.shape[1], activation='softmax'))<br>
                            </code>
                            </div>
                    </div>



                </div>

            </div>
        </div>
    </section>

    <section class="features" id="modelExploration">
        <div class="container">
            <div class="section-heading text-center">
                <h1>Model Predictions</h1>
            </div>
            <div class="card text-dark bg-light" style="max-width: 100pc;">
                <div class="card-header">TRAVERSING A LARGE CORPUS</div>
                <div class="card-body">
                  <code>   
                    pred_char = []<br>

                    for i in range(280):<br>
                        &emsp;&emsp;&emsp;x = numpy.reshape(pattern, (1, len(pattern), 1))<br>
                        &emsp;&emsp;&emsp;x = x / float(n_vocab)<br>
                        &emsp;&emsp;&emsp;prediction = model.predict(x, verbose=0)<br>
                        &emsp;&emsp;&emsp;bob = prediction[0]<br>
                        &emsp;&emsp;&emsp;index = numpy.random.choice(len(bob), p=bob)<br>
                        # index = numpy.argmax(prediction)<br>
                        &emsp;&emsp;&emsp;result = int_to_char[index]<br>
                        &emsp;&emsp;&emsp;pred_char.append(result)<br>
                        # sys.stdout.write(result)<br>
                        &emsp;&emsp;&emsp;pattern.append(index)<br>
                        &emsp;&emsp;&emsp;pattern = pattern[1:len(pattern)]<br>
                  </code>
                </div>
              </div>
              <br>

            <div class="row">
                <div class="col-lg-12 my-auto">
                    <div class="card  bg-transparent mb-3">
                        <div class="card-header">SAMPLE FROM CORPUS</div>
                        <div class="card-body">
                            <!-- We append our sample text here. -->
                            <p class="card-text" id="sampleText"></p>
                        </div>
                    </div>

                    <div class="card  bg-transparent mb-3">
                        <div class="card-header">RANDOM SEED</div>
                        <div class="card-body">
                            <!-- We append our random seed here. -->
                            <p class="card-text" id="modelSeed"></p>
                        </div>
                    </div>

                    <div class="card text-white bg-primary mb-3">
                        <div class="card-header">PREDICTED TEXT</div>
                        <div class="card-body">
                            <!-- We append our prediction here. -->
                            <p class="card-text" id="predictedText"></p>
                        </div>
                        <button id="predict" type="submit" class="btn-dark">Predict</button>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="download bg-primary" id="models">
        <div class="container">
            <div class="section-heading text-center">
                <h1>Sentiment Analysis</h1>
            </div>


            <div class="col my-auto">
                <div class="card  bg-transparent mb-3">
                    <div class="card-header">CORPUS AVERAGE SENTIMENT</div>
                    <div class="card-body">
                        <!-- We append our random seed here. -->
                        <p class="card-text" id="modelSentiment"></p>
                    </div>
                </div>
                <div class="card  bg-light mb-3">
                    <div class="card-header">PREDICTED AVERAGE SENTIMENT</div>
                    <div class="card-body">
                        <!-- We append our random seed here. -->
                        <p class="card-text" id="predAvgSentiment"></p>
                    </div>
                </div>
                <div class="card  bg-light mb-3">
                    <div class="card-header">PREDICTION SENTIMENT</div>
                    <div class="card-body">
                        <!-- We append our random seed here. -->
                        <p class="card-text" id="predictSentiment"></p>
                    </div>
                    <button id="sentiment" type="submit" class="btn-dark">Analyze</button>

                </div>

            </div>
        </div>
    </section>

    <section class="features " id="data">
        <div class="container">
            <div class="section-heading text-center">
                <h1>Stanford CoreNLP Sentiments</h1>
            </div>
            <div class="row">
                <div class="col">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe src="//plot.ly/~jkennedy1974/70.embed"></iframe> </div>
                </div>
                <div class="col">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe src="//plot.ly/~jkennedy1974/74.embed"></iframe> </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe " src="//plot.ly/~jkennedy1974/72.embed"> </iframe> </div> </div> </div> </div> </section>
                            <!-- End Color Blocked Sections -->

                            <!-- Bottom Navbar -->
                            <nav class="navbar navbar-expand-lg navbar-primary text-info bg-dark fixed-bottom">
                                <a class="navbar-brand" href="#">Resources</a>

                                <div class="collapse navbar-collapse" id="navbarColor03">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item">
                                            <a class="nav-link" href="https://github.com/jkennedy74/DLSA" target="blank">Project
                                                Repository</a>
                                        </li>
                                    </ul>
                                    <div class="btn-group dropup">
                                        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            JS and Python Libraries
                                        </button>
                                        <div class="dropdown-menu">
                                            <div class="dropdown-item-text text-dark">JavaScript</div>
                                            <a class="dropdown-item" href="https://d3js.org/" target="blank">D3.js</a>
                                            <a class="dropdown-item" href="https://plot.ly/javascript/" target="blank">Plotly</a>
                                            <div class="dropdown-divider"></div>
                                            <div class="dropdown-item-text text-dark">Python</div>
                                            <a class="dropdown-item" href="https://keras.io/" target="blank">Keras</a>
                                            <a class="dropdown-item" href="https://stanfordnlp.github.io/CoreNLP/api.html"
                                                target="blank">Stanford
                                                CoreNLP</a>
                                            <a class="dropdown-item" href="https://github.com/cjhutto/vaderSentiment"
                                                target="blank">VaderSentiment</a>
                                            <a class="dropdown-item" href="https://github.com/bear/python-twitter"
                                                target="blank">Python-Twitter</a>
                                        </div>
                                    </div>

                                    <div class="btn-group dropup">
                                        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            Data Sources
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="http://twitter.com" target="blank">Twitter</a>
                                            <a class="dropdown-item" href="https://www.gutenberg.org/" target="blank">Project
                                                Gutenburg</a>
                                        </div>
                                    </div>

                                    <span class="navbar-text text-white">&copy; Brian Schwierzke, Juliana Kennedy, Phil
                                        Silberman, Michael
                                        Stewart 2018. All Rights Reserved.
                                    </span>

                                </div>
                            </nav>
                            <!-- End Bottom Navbar -->

                            <!-- Modal -->
                            <div class="modal fade" id="ModelModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header bg-primary">
                                            <h5 class="modal-title " id="ModalLable">Select a Corpus</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-dialog">Select a corpus, load the prediction, and analyze the
                                            sentiment.</div>
                                        <div class="modal-body">
                                            <form name="myForm" action="/corpus" method="post">
                                                <fieldset class="form-group">
                                                    <ul>
                                                        <input type="radio" class="form-check-input" name="optionsRadios"
                                                            id="Seuss" value="option1">Dr.
                                                        Seuss</input><br>
                                                        <input type="radio" class="form-check-input" name="optionsRadios"
                                                            id="POTUS" value="option2">POTUS</input><br>
                                                        <input type="radio" class="form-check-input" name="optionsRadios"
                                                            id="Illiad" value="option3">Homer</input><br>
                                                        <input type="radio" class="form-check-input" name="optionsRadios"
                                                            id="TimeMachine" value="option4">HG Wells</input><br>
                                                    </ul>

                                                    <input type="reset" class="btn-dark" value="Reset"></input>
                                                    <input type="submit" class="btn-dark" value="Select Corpus"></input>

                                                </fieldset>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- End Modal -->


                            <!-- Bootstrap core JavaScript -->
                            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                                crossorigin="anonymous"></script>
                            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                                crossorigin="anonymous"></script>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                                crossorigin="anonymous"></script>
                            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                                crossorigin="anonymous"></script>

                            <!-- Plugin JavaScript -->
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

                            <script src="../static/js/main.min.js"></script>
                            <script src="../static/js/app.js"></script>


</body>

</html>